# Noctalia Theme for Mango - auto generated
shadowscolor = 0x{{ mShadow | strip_hash }}ff
rootcolor = 0x{{ mSurface | strip_hash }}ff
bordercolor = 0x{{ mOutline | strip_hash }}ff
focuscolor = 0x{{ mPrimary | strip_hash }}ff
maximizescreencolor = 0x{{ mSecondary | strip_hash }}ff
urgentcolor = 0x{{ mError | strip_hash }}ff
scratchpadcolor = 0x{{ mTertiary | strip_hash }}ff
globalcolor = 0x{{ mOnSurface | strip_hash }}ff
overlaycolor = 0x{{ mSurfaceVariant | strip_hash }}ff
